.screens button {
    width: 100%;
    padding: 10px 0;
    border-radius: 100px;
    background: #298cff;
    color: #fff;
    border: 0;
    margin-bottom: 20px;
}
.screens button:hover {
    background-color: #98ff49;
}
.phoneField {
    position: relative;
}
.screens .phonePlus {
    position: absolute;
    left: -25px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;

}
.screens button:disabled {
    background: #ccc;
}
