.screens button {
    width: 100%;
    padding: 10px 0;
    border-radius: 100px;
    background: #298cff;
    color: #fff;
    border: 0;
    margin-bottom: 20px;
}
.screens button:hover {
    background-color: #98ff49;
}
.phoneField {
    position: relative;
}
.screens .phonePlus {
    position: absolute;
    left: -25px;
    top: 10px;
    font-size: 30px;
    font-weight: bold;

}
.screens button:disabled {
    background: #ccc;
}
.header button.back {
    background: none;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    border: 0;
    height: 100%;
    padding: 0 20px 8px 20px;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.31);
}
.header button.back:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
