.header {
box-sizing: border-box;
position: absolute;
top: 0;
left: 0;
background: #7a463e;
color: #fff;
height: 50px;
vertical-align: middle;
width: 100%;
}
.wrapper {
box-sizing: border-box;
padding-top: 50px;
}