body {
  margin: 0;
  padding: 0;
  user-select: none;
}
body, html, div#root {
  height: 100%;
}

.App, button {
  font-size: 24px;
}

p {
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px 0;
  border-radius: 100px;
  background: #298cff;
  color: #fff;
}
input {
  border: 2px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 27px;
}